.confirmation-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}

.confirmation-header {
  color: #33e5bc
}

.confirmation-item {
  margin-bottom: 30px;
  display: block;
}
