<mat-card *ngIf="product">
  <img mat-card-image
       [src]="product.imageURL"
       width="300px" height="250px"
       [alt]="product.name" routerLink="product/{{product.id}}"/>

  <mat-card-header class="card-header">
    <mat-card-title>{{product.name}}</mat-card-title>
  </mat-card-header>

  <mat-card-footer>
    <mat-form-field appearance="outline" class="count-select">
      <mat-select  [(value)]="selectedCount" placeholder="{{selectedCount}}">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-footer>

  <mat-card-actions class="card-actions">
    <button mat-raised-button color="primary" (click)="addToCart()">Add to Cart</button>
  </mat-card-actions>

</mat-card>
