<div *ngIf="currentProduct" class="detail-container">
  <img mat-card-image
       src="https://plus.unsplash.com/premium_photo-1667251760504-096946b820af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
       [alt]="currentProduct.name"/>

  <div class="detail-item">
    <h1>{{currentProduct.name}}</h1>
    <p>{{currentProduct.price}}</p>
    <p>{{currentProduct.description}}</p>
    <mat-form-field appearance="outline" class="count-select">
      <mat-select  [(value)]="selectedCount" placeholder="{{selectedCount}}">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="6">6</mat-option>
        <mat-option value="7">7</mat-option>
        <mat-option value="8">8</mat-option>
        <mat-option value="9">9</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="addProductToCart()">Add to Cart</button>
  </div>
</div>
